[submodule "third_party/entt"]
	path = third_party/entt
	url = https://github.com/skypjack/entt
[submodule "third_party/google/google_test"]
	path = third_party/google/google_test
	url = https://github.com/google/googletest
[submodule "third_party/google/google_benchmark"]
	path = third_party/google/google_benchmark
	url = https://github.com/google/benchmark
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "third_party/assimp"]
	path = third_party/assimp
	url = https://github.com/assimp/assimp
[submodule "third_party/imgui_console"]
	path = third_party/imgui_console
	url = https://github.com/malatindez/imgui-console
[submodule "third_party/imguizmo"]
	path = third_party/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "third_party/tools/C-include-2-dot"]
	path = third_party/tools/C-include-2-dot
	url = https://github.com/Leedehai/C-include-2-dot
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
